DATABASE_URL=DATABASE_URL=postgresql+psycopg2://postgres:praktikum@localhost:5432/task_db
JWT_SECRET=qwerty123asdfgh789zxcvbn456
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_API_URL=https://api.deepseek.com/chat/completions
